<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <script>
    function overWrite()
    {

    }
    </script>
  </head>
  <body>
    <form method="post">
      <input name="input_compo_title" type="text" class="form-control" placeholder="Prjoect title">
      <input name="input_compo_head" type="text" class="form-control" placeholder="Prjoect head" size ="1200px">
      <input name="input_compo_body" type="text" class="form-control" placeholder="Prjoect body" size ="1200px">
      <button id="save" type="submit">Upload Component</button>
    </form>
  </body>
</html>
