<!Doctype html>
<html>
    <head>
        <title>Login Page</title>
<!--        <link rel="stylesheet" type="text/css" href="./color.css">-->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/xeicon/1.0.4/xeicon.min.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="../dist/css/animsition.min.css">
        <script src="../dist/js/animsition.min.js"></script>
        <style>
            *{
                margin: 0 auto;
                font-family: 'Titillium Web', sans-serif;
            }
            html{
                height: 100%;
            }
            body{
                height: 100%;
                background-image: url(/img/bg4.jpg);
                background-size: 100% 100%;
            }
            #mainbg{
                color: white;
                padding-top: 17%;
/*                height: 1000px;*/
            }
            a{
                text-decoration: none;
            }
            #loginFrameTop{
                width: 40%;
                border-radius: 3px 3px 0px 0px;
                background: white;
                padding: 20px;
                color: gray;
            }
            #loginFrameTop > p{
                font-weight: 200;
            }
            #loginFrameBottom{
                text-align: center;
                width: 40%;
                border-radius: 0px 0px 3px 3px;
/*                background: #EAEAEA;*/
                padding: 20px;
            }
            form{
                margin-bottom: 12px;
            }
            form > input{
                width: 70%;
                display: block;
                font-weight: 200;
                font-size: 13px;
                margin-bottom: 10px;
                border-radius: 3px;
                padding: 10px;
                opacity: 0.7;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
            }
            #btn_signin{
                transition: 0.3s;
                width: 70%;
                text-align: center;
                background: rgba(53, 49, 87, 0.7);
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
                padding: 11px;
                border-radius: 3px;
                color: white;
            }
            #btn_signin:hover{
                background: rgba(53, 49, 87, 1);
            }
            #btn_signup{
                font-size: 14px;
                color: #8C8C8C;
                text-decoration: none;
            }
            #intro_box{
                color: white;
/*                margin-top: 300px;*/
                margin-bottom: 32px;
            }
            #logo{
/*                color: #003C6C;*/
                text-align: center;
                font-size: 42px;
                
            }
            #intro_msg{
                text-align: center;
                font-weight: 200;
            }
            
        </style>
        <script>
            $(document).keydown(function(event){
                if(event.keyCode == '13'){
                    event.preventDefault();
                    $('#btn_signin').trigger('click');
                }
            });
            $(document).ready(function(){
                var islogin = '<%= islogin %>';
                if(islogin === 'fail'){
//                    alert('로그인에 실패하였습니다.');
                }
                
                $('body').animsition({
                    inClass: 'fade-in',
                    outClass: 'fade-out',
                    inDuration: 1500,
                    outDuration: 800,
                    linkElement: '.animsition-link',
                    // e.g. linkElement: 'a:not([target="_blank"]):not([href^=#])'
                    loading: true,
                    loadingParentElement: 'body', //animsition wrapper element
                    loadingClass: 'animsition-loading',
                    loadingInner: '', // e.g '<img src="loading.svg" />'
                    timeout: false,
                    timeoutCountdown: 5000,
                    onLoadEvent: true,
                    browser: [ 'animation-duration', '-webkit-animation-duration'],
                    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
                    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
                    overlay : false,
                    overlayClass : 'animsition-overlay-slide',
                    overlayParentElement : 'body',
                    transition: function(url){ window.location.href = url; }
                  });
            });
            
            $(function(){
                $( "#btn_signin" ).click(function() {
                    $('#loginform').submit();
                });
                
                
                $("#loginform").keydown(function(e){
                   if(e.which == 13) {
                       $('#loginform').submit();
                   }
                });
                
            });
            
            
        </script>
    </head>
    <body>
        <div id="mainbg">
            <div id="intro_box">
                <h1 id="logo">Open Design Project</h1>
                <p id="intro_msg">Samsung Software Membership</p>
            </div>
<!--
            <div id="loginFrameTop">
                    <h1>Login</h1>
                    <p>&nbsp;&nbsp;&nbsp;로그인이 필요한 서비스입니다.</p>
            </div>
-->
            <div id="loginFrameBottom">
                <form id="loginform" method="post">
                    <input type="text" placeholder="ID" name="id">
                    <input type="password" placeholder="Password" name="pw">
                    <a href="#" class="animsition-link"><div id="btn_signin"> 로그인</div></a>
                </form>
                <a id="btn_signup" href="/signup">회원가입</a>
            </div>
            
        </div>
    </body>
</html>