<!Doctype html>
<html>
    <head>
        <title>Login Page</title>
<!--        <link rel="stylesheet" type="text/css" href="./color.css">-->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/xeicon/1.0.4/xeicon.min.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <style>
            *{
                margin: 0 auto;
                font-family: 'Titillium Web', sans-serif;
            }
            #mainbg{
                color: white;
                background-image: url(/img/bg.jpg);
                height: 1000px;
            }
            #loginFrameTop{
                width: 40%;
                border-radius: 3px 3px 0px 0px;
                background: white;
                padding: 20px;
                color: gray;
            }
            #loginFrameTop > p{
                font-weight: 200;
            }
            #loginFrameBottom{
                text-align: center;
                width: 40%;
                border-radius: 0px 0px 3px 3px;
/*                background: #EAEAEA;*/
                padding: 20px;
            }
            form{
                margin-bottom: 12px;
            }
            form > input{
                width: 70%;
                display: block;
                font-weight: 200;
                font-size: 13px;
                margin-bottom: 10px;
                padding: 10px;
            }
            #btn_signin{
                width: 70%;
                text-align: center;
                background: #8C8C8C;
                padding: 11px;
            }
            #btn_signin:hover{
                background: #003C6C;
                -o-transition:.5s;
                -ms-transition:.5s;
                -moz-transition:.5s;
                -webkit-transition:.5s;
            }
            #btn_signup{
                font-size: 14px;
                color: #8C8C8C;
                text-decoration: none;
            }
            #intro_box{
                padding-top: 300px;
                margin-bottom: 32px;
            }
            #logo{
                text-align: center;
                font-size: 42px;
                
            }
            #intro_msg{
                text-align: center;
                font-weight: 200;
            }
            
        </style>
        <script>
            $(document).ready(function(){
                var islogin = '<%= islogin %>';
                if(islogin === 'fail'){
//                    alert('로그인에 실패하였습니다.');
                }
            });
            $(function(){
                $( "#btn_signin" ).click(function() {
                    $('#loginform').submit();
                });
                
                
                $("#loginform").keydown(function(e){
                   if(e.which == 13) {
                       $('#loginform').submit();
                   }
                });
                
            });
            
        </script>
    </head>
    <body>
        <div id="mainbg">
            <div id="intro_box">
                <h1 id="logo">Open Design Project</h1>
                <p id="intro_msg">Samsung Software Membership</p>
            </div>
<!--
            <div id="loginFrameTop">
                    <h1>Login</h1>
                    <p>&nbsp;&nbsp;&nbsp;로그인이 필요한 서비스입니다.</p>
            </div>
-->
            <div id="loginFrameBottom">
                <form id="loginform" method="post">
                    <input type="text" placeholder="ID" name="id">
                    <input type="password" placeholder="Password" name="pw">
                    <div id="btn_signin"> 로그인</div>
                </form>
                <a id="btn_signup" href="/signup">회원가입</a>
            </div>
            
        </div>
    </body>
</html>