<!Doctype html>
<html>
    <head>
        <title>Project View</title>
<!--        <link rel="stylesheet" type="text/css" href="main.css">-->
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/xeicon/1.0.4/xeicon.min.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../dist/css/animsition.min.css">
        <script src="../dist/js/animsition.min.js"></script>

        <style>
            html{
                max-width:100%;
                /*max-height:100%;*/
                height: auto;
                overflow-x: hidden;
                /*overflow-y: hidden;*/
/*                height:100%;*/
            }
            body{
                width:100%;
/*                height:100%;*/
/*                overflow-y: scroll;*/
            }
            *{
                margin: 0 auto;
                font-family: 'Titillium Web', sans-serif;
            }
            iframe{
                
/*
                width:500%; 
                height: 1000px; 
*/              max-width: 300px;
                max-height: 300px;
                border-radius: 3px; 
                border: none;
                transform-origin: 0 0;
                transform: scale(0.20); 
                 
                margin: 0px;
            }
           #mainframe{
                background: #EBEBEC;
                
                height: 90%;
/*                overflow-y: scroll;*/
            }
            #main_nav{
                padding: 10px;
                position: fixed;
                width: 100%;
                z-index: 10;
                box-shadow: 0px 1px 3px rgba(0,0,0,.7);
/*                background: #003C6C;*/
                /*background : linear-gradient(135deg, rgba(53,49,87,1) 0%,rgba(71,28,60,1) 100%);*/
                background: linear-gradient(-135deg,#00E3AD 0,#5252C9 52%,#002350 100%);
                opacity: 0.9;
            }
            #main_nav > ul{
                list-style: none;
            }
            #main_nav > ul > li{
                font-size: 14px;
                float: left;
                margin-right: 10px;
            }
            #main_nav > ul > li > a{
                text-decoration: none;
                color: #888888;
            }
            #main_nav > ul > li > a:hover{
                text-decoration: none;
                color: white;
            }
            #user_msg{
                float: right;
                margin-right: 20px;
                color: white;
                line-height: 42px;
            }
            .nav_title > h2{
                color: white;
                text-align: center;
            }
            #cardSection{
                padding: 200px;
                margin: 0 auto;
                text-align: center;
            }
            .card{
                transition : 0.3s;
/*                float: left;*/
                display: inline-block;
                vertical-align: middle;
                width: 300px;
                height: 300px;
                max-height: 300px;
                max-width: 300px;
                margin: 20px;
                background: #ffffff;
                padding: 12px;
                border-radius: 3px;
                
/*                height: 50px;*/
/*                width: 70%;*/
/*                margin-top: 20px;*/
                opacity : 0.5;
                box-shadow:0 1px 2px #aaa;
            }
            .card:hover{
                opacity : 1;
                
                color: #353157;
                text-decoration: none;
/*                background : #003C6C;*/
/*                border : 2px solid #003C6C;*/
            }
            .logo{
                color: white;
                padding-left : 20px;
                margin-bottom: 15px;
            }
            .wrapper{
                display: table;
                height: 300px;

            }
            .contents{
                display: table-cell;
                vertical-align: middle;

            } 
            
            #sub_nav{
/*                height:100px;*/
                padding: 120px;
                padding-left: 40px;
                padding-top:200px;
                color:white;
/*                vertical-align: middle;*/
/*                height: 40px;*/
                background: white;
                background-image: url(/img/writing3.jpg);
                background-size: cover;
                background-position: 0px -350px;
                background-attachment: fixed;
                border-bottom: 2px solid #003C6C;
            }
            
            #footer{
                color: #B7B7B7;
                background: #4e5665;
                padding: 50px;
                /*height: 50px;*/
                padding-left: 100px;
            }
            #footer > h3{
                margin: 0;
                
                /*line-height: 50px;*/
            }
            #btn_save{
                background: #353157;
                border: none;
            }
            .btn_remove{
                float:right;

                margin-bottom: -200px;
            }
        </style>
        <script>

            var titles = "<%= titles %>".split(',');
            
            $(document).ready(function(){
                $('#mainframe').animsition({
                    inClass: 'fade-in',
                    outClass: 'fade-out',
                    inDuration: 800,
                    outDuration: 800,
                    linkElement: '.animsition-link',
                    // e.g. linkElement: 'a:not([target="_blank"]):not([href^=#])'
                    loading: true,
                    loadingParentElement: 'body', //animsition wrapper element
                    loadingClass: 'animsition-loading',
                    loadingInner: '', // e.g '<img src="loading.svg" />'
                    timeout: false,
                    timeoutCountdown: 5000,
                    onLoadEvent: true,
                    browser: [ 'animation-duration', '-webkit-animation-duration'],
                    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
                    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
                    overlay : false,
                    overlayClass : 'animsition-overlay-slide',
                    overlayParentElement : 'body',
                    transition: function(url){ window.location.href = url; }
                  });
                
                // alert(titles.length);
                // alert(titles=='');

                
                if(titles != ''){
                    $('#cardSection').append(
                        '<a id="btn_add" class="card animsition-link" href="#">\
                            <div class="wrapper">\
                                <div class="contents">\
                                    <h4><i class="xi-plus-square xi-x"></i></br></br>새로운 프로젝트를 생성하세요</h4>\
                                </div>\
                            </div>\
                        </a>'
                    );
                    for(var i = 0; i < titles.length; i++){
                        var card = $('<a>', {class: 'card animsition-link', href:'#'});
                        card.html('<a class="btn_remove" style="float:right"><i class="xi-close"></i></a><div style="clear:both"></div><div class="wrapper"><div class="contents"><div style="height:200px"><iframe src="./workspaces/'+titles[i]+'/index.html" scrolling="no" width="500%" height="1000px"></iframe></div><h4>'+titles[i]+'</h4></div></div>');
                        $('#cardSection').append(
    //                       '<a class="btn_remove" style="float:right"><i class="xi-close"></i></a>'
                        );
                        $('#cardSection').append(
                            card
                        );
                    }    
                }
                else{
                    $('#cardSection').append(
    //                       '<a class="btn_remove" style="float:right"><i class="xi-close"></i></a>'
                            '</br><i class="xi-smiley-face xi-5x"></i></br></br><h2 style="color:#444444">만들어진 프로젝트가 없네요, 한번 프로젝트를 만들어 보세요</h2></br></br>'
                     );
                    $('#cardSection').append(
                        '<a id="btn_add" class="card animsition-link" href="#">\
                            <div class="wrapper">\
                                <div class="contents">\
                                    <h4><i class="xi-plus-square xi-x"></i></br></br>새로운 프로젝트를 생성하세요</h4>\
                                </div>\
                            </div>\
                        </a>'
                    );
                }
                
                
                $('.card').click(function(){
                    window.location.href = "/workspace?data="+$(this).text();
                });
                $('#btn_add').click(function(){
                    $('#myModal').modal();
                });
                 $('.btn_remove').click(function(){
                    var index = $('.btn_remove').index(this);

                    if(confirm(titles[index]+" 프로젝트를 삭제하시겠습니까?") == true){

                      $.post('/project',{index : index , type: 'remove'}).done(function(data){
                        // alert(data);
                        location.href='/project';

                      });
                      

                    }
                    else {
                      return;
                    }
                });
                
            });
        </script>
    </head>
    <body>
     
        <div id="main_nav">
            <h4 class="logo">Open Design Project</h4>
            <ul style="float:left;">
<!--                <li><a id="btn_add" href="#"><i class="xi-plus xi-x">&nbsp;</i></br></a></li>-->
                <li><a id="btn_lib" href="/templet"><i class="xi-tagged-book xi-x">&nbsp;</i></br></a></li>
                <!-- <li><a id="btn_share" href="#"><i class="xi-share-alt xi-x">&nbsp;</i></br></a></li> -->
                <!-- <li><a href="#"><i class="xi-trash xi-x">&nbsp;</i></br></a></li> -->
                <li><a id="btn_logout" href="/"><i class="xi-user-add xi-x">&nbsp;</i></br></a></li>
            </ul>
            <p style="float:right; color:white"><i class="xi-user">&nbsp;</i> <b><%= user_name %></b> 님 접속을 환영합니다.</p>
            <div style="clear:both;"></div>
        </div>
        <div id="sub_nav">
            <h2>여러분만의 홈페이지를 디자인하세요</h2>
        </div>
        
        <div id="mainframe" >
            <div id="cardSection">
                
                <!-- <a id="btn_add" class="card animsition-link" href="#">
                    <div class="wrapper">
                        <div class="contents">
                            <h4><i class="xi-plus-square xi-x"></i></br></br>새로운 프로젝트를 생성하세요</h4>
                        </div>
                    </div>
                </a> -->
            </div>
        </div>
        <div id="footer">
            <h3>Open Design Project</h3>
            <h4>Samsung Software Membership</h4>
        </div>

        <!-- Modal -->
        <form method="post">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Project 추가</h4>
                  </div>
                  <div class="modal-body">
                    <input name="input_project_name" type="text" class="form-control" placeholder="Prjoect Name">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btn_save" type="submit" class="btn btn-primary">Create Projects</button>
                  </div>
                </div>
              </div>
            </div>
        </form>
    </body>
</html>