<!Doctype html>
<html>
    <head>
        <title>Project View</title>
<!--        <link rel="stylesheet" type="text/css" href="main.css">-->
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/xeicon/1.0.4/xeicon.min.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css'>
        <style>
            html{
                height:100%;
            }
            body{
                height:100%;
                overflow-y: scroll;
            }
            *{
                margin: 0 auto;
                font-family: 'Titillium Web', sans-serif;
            }
            
           #mainframe{
                background: #EBEBEC;
                padding: 50px;
                height: 90%;
                overflow-y: scroll;
                
               
            }
            #main_nav{
                padding: 10px;
/*                background: #003C6C;*/
                background : linear-gradient(135deg, rgba(53,49,87,1) 0%,rgba(71,28,60,1) 100%);
            }
            #main_nav > ul{
                list-style: none;
            }
            #main_nav > ul > li{
                font-size: 14px;
                float: left;
                margin-right: 10px;
            }
            #main_nav > ul > li > a{
                text-decoration: none;
                color: #888888;
            }
            #main_nav > ul > li > a:hover{
                text-decoration: none;
                color: white;
            }
            #user_msg{
                float: right;
                margin-right: 20px;
                color: white;
                line-height: 42px;
            }
            .nav_title > h2{
                color: white;
                text-align: center;
            }
            #cardSection{
                margin: 0 auto;
                text-align: justify;
            }
            .card{
/*                float: left;*/
                display: inline-block;
                width: 300px;
                height: 300px;
                margin: 20px;
                background: #ffffff;
                padding: 12px;
                padding-left: 20px;
                border-radius: 3px;
/*                height: 50px;*/
/*                width: 70%;*/
                margin-top: 20px;
                opacity : 0.5;
                box-shadow:0 1px 2px #aaa;
                

            }
            .card:hover{
                opacity : 1;
                transition : 0.3s;
/*                background : #003C6C;*/
/*                border : 2px solid #003C6C;*/
            }
            .logo{
                color: white;
                padding-left : 20px;
                margin-bottom: 15px;
            }
            #sub_nav{
                padding-left: 40px;
                vertical-align: middle;
/*                height: 40px;*/
                background: white;
                border-bottom: 2px solid #003C6C;
            }
            
            #footer{
                background: #5D5D5D;
                height: 50px;
                padding-left: 100px;
            }
            #footer > h3{
                margin: 0;
                color: #B7B7B7;
                line-height: 50px;
            }
        </style>
        <script>

            var titles = "<%= titles %>".split(',');

            
            $(function(){
                $('#btn_add').click(function(){
                    $('#myModal').modal();
                });
            });
            
            $(document).ready(function(){
                for(var i = 0; i < titles.length; i++){
                    var card = $('<div>', {class: 'card'});
                    card.html('<h4>'+titles[i]+'</h4>');
                    $('#cardSection').append(
//                        '<div class="card"><h4>'+titles[i]+'</h4></div>'+'<button>'+'test'+'</button>'
                        card
                    );
                }
                
                $('.card').click(function(){
                    window.location.href = "/workspace?data="+$(this).text();
                });
                
                $('button').click(function(){
                    var index = $('button').index(this);
                    alert(index);
                });
                
            });
        </script>
    </head>
    <body>
     
        <div id="main_nav">
            <h4 class="logo">Open Design Project</h4>
            <ul style="float:left;">
                <li><a id="btn_add" href="#"><i class="xi-plus xi-x">&nbsp;</i></br></a></li>
                <li><a id="btn_lib" href="#"><i class="xi-tagged-book xi-x">&nbsp;</i></br></a></li>
                <li><a id="btn_share" href="#"><i class="xi-share-alt xi-x">&nbsp;</i></br></a></li>
                <li><a href="#"><i class="xi-trash xi-x">&nbsp;</i></br></a></li>
            </ul>
            <div style="clear:both;"></div>
        </div>
        <div id="sub_nav">
            <p><i class="xi-angle-right">&nbsp;</i> <%= user_name %> 님 접속을 환영합니다.</p>
        </div>
        
        <div id="mainframe">
            <div id="cardSection">
                
            </div>
        </div>
        <div id="footer">
            <h3>Open Design Project</h3>
        </div>

        <!-- Modal -->
        <form method="post">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Project 추가</h4>
                  </div>
                  <div class="modal-body">
                    <input name="input_project_name" type="text" class="form-control" placeholder="Prjoect Name">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btn_save" type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
        </form>
    </body>
</html>