<!Doctype html>
<html ng-app="myApp">
<head>
    <title>Project View</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >  
    

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/xeicon/1.0.4/xeicon.min.css">
    <!-- -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css'>
    
    
    <!-- Color Picker -->
    <link rel="stylesheet" media="screen" type="text/css" href="ColorPicker/css/colorpicker.css" />  
    <script src="ColorPicker/colorpicker.js"></script>

 <style>
    *{
        margin: 0 auto;
        font-family: 'Titillium Web', sans-serif;
    }
    html, body {
        height: 100%;
        max-height: 100%;
    }
    body{
        background: #1d1f21; 
        min-height: 1000px;

    }
    .left{
        float:left;
    }
    .right{
        float:right;
    }
    .clear{
        clear:both;
    }
    .element{
        text-align: center;
        color: #888888;
        font-size:32px;
        transition: 0.3s;
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: 100px;
        line-height:100px;
        box-shadow : 0px 1px 1px rgba(0,0,0,.7);
        margin:5px;
        border-radius: 3px;
    }
    .element:hover{
        color: white;
        background: #232323;
     }
     
     
     .small_element{
        text-align: center;
        color: #888888;
        font-size: 18px;
        transition: 0.3s;
        display: inline-block;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        line-height: 32px;
        box-shadow : 0px 1px 1px rgba(0,0,0,.7);
        margin:5px;
        border-radius: 3px;
    }
    .small_element:hover{
        text-decoration: none;
        color: white;
        background: #232323;
     }
     
     
    #mainframe{
/*        background: #2c2c2c;*/
        height: 1000px;
        padding: 50px;
    }
     
    #main_nav{
        position: fixed;
        width:100%;
        padding: 10px;
        background: #003C6C;
        background: #2c2c2c;
        background: linear-gradient(135deg, rgba(53,49,87,1) 0%,rgba(71,28,60,1) 100%);
        z-index: 10;
        box-shadow: 0px 1px 3px rgba(0,0,0,.7);

    }
    #main_nav > ul{
        list-style: none;
    }
    #main_nav > ul > li{
        font-size: 14px;
        float: left;
        margin-right: 10px;
    }
    #main_nav > ul > li > a{
        transition: 0.3s;
        text-decoration: none;
        color: #888888;
    }
    #main_nav > ul > li > a:hover{
        transition: 0.3s;
        text-decoration: none;
        color: #f3f3f3;
    }
    #user_msg{
        float: right;
        margin-right: 20px;
        color: #f3f3f3;
        line-height: 42px;
    }
    .nav_title > h2{
        color: #f3f3f3;
        text-align: center;
    }
    .card{
        background: #ffffff;
        padding: 20px;
        border-radius: 3px;
        height: 50px;
        width: 70%;
        margin-top: 20px;
    }
    .card > h2{
        line-height: 50px;
    }
    .logo{
        color: #f3f3f3;
        padding-left : 20px;
        margin-bottom: 15px;
    }
    .logo > a{
        color: #f3f3f3;
        text-decoration: none;
     }

    #footer{
        background: #5D5D5D;
        padding-left: 100px;
        
    }
    #footer > h3{
        margin: 0px;
        padding: 10px;
        color: #B7B7B7;
    }

    #optionPanel{
        top:90px;
        right: 0px; 
        position: fixed;
        width: 20%;
        background: #2c2c2c;
        z-index : 8;
    /*                opacity: 0.8;*/
        
        overflow-y: scroll;
        max-height: 91%;
        color: #f3f3f3;
/*        padding-top:90px;*/
     }
     #option{
/*         height: 500px;*/
         background: #363636;
         overflow-y: scroll;
     }
     #optionClassName{
        background: #1a1a1a;
        padding: 20px;
     }
     #optionContent{
        padding: 20px;
     }
     
     #optionContent > input{
        
         border: none;
         padding: 5px;
         background: #242424;
         box-shadow: none;
         color : #b3b3b3;
         width: 100%;
     }
     #optionContent > input:focus{
         border: 2px solid #003C6C;
         outline: none;
         box-shadow: none;
     }
     #optionContent > #btn_save_component{
         transition: 0.3s;
         border: 1px solid #f3f3f3;
         border-radius: 3px;
         color: #f3f3f3;
         padding: 5px;
         width: 100%;
         display: block;
         text-align: center;
     }
     #optionContent > #btn_save_component:hover{
         background: #f3f3f3;
         transition: 0.3s;
         text-decoration: none;
         color: #444444;
         
     }
     #tags{
          background: #363636;
          height:450px;
          overflow-y: scroll;
     }
     #tab > ul > li{
/*         float: left;*/
         list-style: none;
         padding-top: 7px;
         padding-bottom: 7px;
     }
     #tab > ul > li > a{
         transition: 0.3s;
         color: #aaa;
         text-decoration:none;
     }
     #tab > ul > li > a:hover{
         transition: 0.3s;
         color: white;
     }
     #msg{
         width: 100%;
         position: fixed;
         bottom: 0px;
         opacity: 0.8;
         padding: 10px;
         padding-left: 30px;
         color: #f3f3f3;
         background: #444444;
     }
     #add_tags_view{
         position: fixed;
         width:100%;
         top: 90px;
/*         padding-top:90px;*/
         height: 50px;
         background:#444444;
     }
     #align_group{
         text-align: center;
     }
     #align_group > a{

         line-height: 32px;
         transition: 0.3s;
         font-size: 18px;
         color: #b3b3b3;
         margin: 10px;
     }
     #align_group > a:hover{
         color: white;
         
     }
     #shadow_group{
         text-align: center;
     }
     #float_group{
         text-align: center;
     }
  
    #workspace_view{
        min-height: 100%;
        height: auto;
        background-color: #f3f3f3;
/*        float: left;*/
        width: 98%; 
        margin: 10px;
    }

    #component_view {
        background: #f3f3f3;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    #component_view > .compo{
        width:500px;
        display:inline;
/*            float:left;*/
    }
    #set{
      width : 98%;
      background-color: inherit;
    }
</style>
    
<!--Drag and Drop part-->
<script>
    var comTitle= "<%= comTitle%>".split(',');
    var comHead= "<%= comHead%>".split(',');
    var comBody = "<%= comBody%>";
    var flag=0;
    var cnt=1;
    var selectedElement;
    var child;
    var childInfo;
    var comCode;
    var temp;
    // 0 = hide
    var menuSelect = 0;
    var optionSelect = 0;
    
    var cmdDown = false;
    
    $(document).keydown(function(event){
        if(event.keyCode == '91'){
            cmdDown = true;
        }
        // Btn SidePanel Click Event Trigger Cmd + K
        if(cmdDown && event.keyCode == '75'){
            $('#btn_sidePanel').trigger('click');
        }
        
        // Btn save Click Event Trigget Cmd + S
        if(cmdDown && event.keyCode == '83'){
            // Chrome Cmd + S Key Event Ignore
            event.preventDefault();
            $('#save').trigger('click');
        }
        
        // Btn save Click Event Trigget Cmd + 1
        if(cmdDown && event.keyCode == '49'){
            event.preventDefault();
            $('#btn_add_compo').trigger('click');
        }
        
        // Btn save Click Event Trigget Cmd + 2
        if(cmdDown && event.keyCode == '50'){
            event.preventDefault();
            $('#btn_add_tags').trigger('click');
        }
        // Btn save Click Event Trigget Cmd + 3
        if(cmdDown && event.keyCode == '51'){
            event.preventDefault();
            $('#btn_option').trigger('click');
        }
        
        // Btn save Click Event Trigget Cmd + D
        if(cmdDown && event.keyCode == '68'){
            event.preventDefault();
            $('#btn_remove').trigger('click');
        }
        
        // Btn save Click Event Trigget Cmd + B
        if(cmdDown && event.keyCode == '66'){
            event.preventDefault();
            $('#btn_bold').trigger('click');
        }
    }).keyup(function(event){
       if(event.keyCode =='91'){
           cmdDown = false;
       }
    });
    
    
    

    $(document).ready(function(){
        
        // tooltip Initialize
         $('[data-toggle="tooltip"]').tooltip(); 
        comBody=comBody.replace(/&lt;/gi,'<').replace(/&gt;/gi,'>').replace(/&#34;/gi,'\"');
        comBody=comBody.split(',');

        var ims=document.documentElement.innerHTML;
        var start,end;
        var concatFront,concatEnd;
        start=ims.indexOf("<style>");

        concatFront=ims.slice(0,start+7);
        concatEnd=ims.slice(start+7,ims.length);
        var innerHead = "";
        for(var i = 0 ; i < comHead.length;i++)
        {
          innerHead=innerHead.concat(comHead[i]+"\n");
        }
        ims=concatFront+"\n"+innerHead+concatEnd;
        document.documentElement.innerHTML=ims;
        
        console.log("Complete Insert ComponentCSS\n");

        start=ims.indexOf("<p><i class=\"xi-angle-right\">&nbsp;</i> workspace</p>");

        concatFront=ims.slice(0,start+54);
        concatEnd=ims.slice(start+54,ims.length);
        var innerBody = "";
        for(var i = 0 ; i < comBody.length; i++)
        {
          innerBody=innerBody.concat(comBody[i]+"\n");
        }
        ims=concatFront+"\n"+innerBody+concatEnd;

        document.documentElement.innerHTML=ims;
        console.log("Complete Insert Component\n");

        
        // DB loading part
        // Database에서 정보를 읽어와서 workspace_view에 뿌려주는 부분
        var t = $('#workspace_view').text();
        $('#workspace_view').html(t.replace('&lt','<').replace('&gt','>'));

        
        // hide part
        $('#component_view').hide();
        $('#optionPanel').hide();
        $('#msg').hide();
        $('#tags').hide();
        $('#option').hide();
        
        
        
        $('#input_bgColor').ColorPicker({
            onSubmit: function(hsb, hex, rgb, el, parent) {
                $(el).val('#'+hex);
                $(el).ColorPickerHide();
                $('#'+selectedElement.attr('id')).css('background', $('#input_bgColor').val());

            },
            onBeforeShow: function () {
                $(this).ColorPickerSetColor(this.value);
            }
        })
        .on('keyup', function(){
            $(this).ColorPickerSetColor(this.value);
        });
        
        $('#input_fontColor').ColorPicker({
            onSubmit: function(hsb, hex, rgb, el, parent) {
                $(el).val('#'+hex);
                $(el).ColorPickerHide();
                $('#'+selectedElement.attr('id')).css('color', $('#input_fontColor').val());
            },
            onBeforeShow: function () {
                $(this).ColorPickerSetColor(this.value);
            }
        })
        .on('keyup', function(){
            $(this).ColorPickerSetColor(this.value);
        });
        
        
        $('#add_textArea').click(function(){
            for(;;cnt++){
                var imID='NewID'+cnt;

                if(document.getElementById(imID) == null){
                  console.log(imID);
                  var nodeCopy = $('<p/>', {id: 'NewID'+cnt, text: 'test', class: 'compo',
                                             draggable: 'true', ondragstart: 'return start(event)',
                                             ondragend: 'return end(event)'
                                            });
//                  nodeCopy.css('background', 'rgba(0,0,0,0)');
      //            nodeCopy.text('test');
      //            var nodeCopy = '<p class="compo"' + ' id="NewID' + cnt + '" '+ 'draggable="true" ondragstart="return start(event)" ondragend="return end(event)">sampleText</p>';
      //            nodeCopy.id="NewID"+cnt;
                  console.log(nodeCopy.id);
                  cnt=cnt+1;
                  $('#workspace_view').append(nodeCopy);
                  break;
               }
            }
        });
        
        $('#add_button').click(function(){
            for(;;cnt++){
                var imID='NewID'+cnt;

                if(document.getElementById(imID) == null){
                  console.log(imID);
                  var nodeCopy = $('<button/>', {id: 'NewID'+cnt, text: 'test', class: 'compo',
                                             draggable: 'true', ondragstart: 'return start(event)',
                                             ondragend: 'return end(event)'
                                            });
                  nodeCopy.css('background', '#ffffff');
                  console.log(nodeCopy.id);
                  cnt=cnt+1;
                  $('#workspace_view').append(nodeCopy);
                  break;
               }
            }
        });
        
        
        $('#add_input').click(function(){
            for(;;cnt++){
                var imID='NewID'+cnt;

                if(document.getElementById(imID) == null){
                  console.log(imID);
                  var nodeCopy = $('<input/>', {id: 'NewID'+cnt, text: 'test', class: 'compo',
                                             draggable: 'true', ondragstart: 'return start(event)',
                                             ondragend: 'return end(event)'
                                            });
                  nodeCopy.css('background', '#ffffff');
                  console.log(nodeCopy.id);
                  cnt=cnt+1;
                  $('#workspace_view').append(nodeCopy);
                  break;
               }
            }
        });
        
        
        // click part
        $("#workspace_view").on("click", ".compo", function (event) {
            
            selectedElement = $(this);
            var setID = selectedElement.attr('id');
            
            if(document.getElementById(setID).style.width == ''){
              $('#input_width').val(selectedElement.css('width'));  
            }
            else{
                $('#input_width').val(document.getElementById(setID).style.width);    
            }
            
            
            if(document.getElementById(setID).style.height == ''){
              $('#input_height').val(selectedElement.css('height'));  
            }
            else{
                $('#input_height').val(document.getElementById(setID).style.height);
            }
            
            if(selectedElement.css('backgroundColor') != 'rgba(0, 0, 0, 0)'){
                $('#input_bgColor').val(hexc(selectedElement.css('backgroundColor')));    
            }
            
            
//            $('#input_bgColor').val(hexc(selectedElement.css('backgroundColor')));
            $('#input_fontColor').val(hexc(selectedElement.css('color')));

            temp = document.getElementById(setID).innerHTML;
            
            var start = temp.indexOf("<");
            var text
            if(start==-1){
                text = temp;
                temp = "";
            }
            else{
                text = temp.slice(0, start);
                temp = temp.slice(start,temp.length);
            }
            
            $('#input_text').val(text);
            $('#input_display').val(selectedElement.css('display'));
            $('#input_fontSize').val(selectedElement.css('fontSize'));
            $('#input_opacity').val(selectedElement.css('opacity'));
            $('#input_padding').val(selectedElement.css('padding'));
            $('#input_margin').val(selectedElement.css('margin'));
            $('#input_margin').val(selectedElement.css('margin'));
            $('#input_float').val(selectedElement.css('float'));
            
            
          // 중복클릭 금지
            event.stopPropagation();
          // var childInfo=document.getElementById(child);
          // var parent=childInfo.parentNode;
          // console.log(parent);
        });
        
        $('#input_width').change(function(){
            $('#'+selectedElement.attr('id')).css('width', $('#input_width').val());
        });
        
        $('#input_height').change(function(){
            $('#'+selectedElement.attr('id')).css('height', $('#input_height').val());
        });
        
        
        $('#input_text').change(function(){ 
            $('#'+selectedElement.attr('id')).html($('#input_text').val()+temp);
        });
        
        $('#input_fontSize').change(function(){
            $('#'+selectedElement.attr('id')).css('fontSize', $('#input_fontSize').val());
        });
        
        $('#input_opacity').change(function(){
            $('#'+selectedElement.attr('id')).css('opacity', $('#input_opacity').val());
        });
        
        $('#input_display').change(function(){
            $('#'+selectedElement.attr('id')).css('display', $('#input_display').val());
        });
        
        $('#input_padding').change(function(){
            $('#'+selectedElement.attr('id')).css('padding', $('#input_padding').val());
        });
        
        $('#input_margin').change(function(){
            $('#'+selectedElement.attr('id')).css('margin', $('#input_margin').val());
        });
        
        
        
        $('#btn_add_compo').click(function(){
            $('#component_view').slideToggle('slow');
        });
        
        $('#btn_add_tags').click(function(){
            $('#tags').slideToggle('slow');
        });
        
        $('#btn_option').click(function(){
            $('#option').slideToggle('slow');
        });
        
        var tmp_width = document.getElementById('workspace_view').style.width;
        
        $('#btn_sidePanel').click(function(){
//            var tmp_width;
            
            if(optionSelect == 0) {
               $('#optionPanel').animate({width:'toggle'},350);
            }
            if(document.getElementById('workspace_view').style.width != '78%'){
//              tmp_width = document.getElementById('workspace_view').style.width;
              $('#workspace_view').css('width','78%');    
            }
            else{
               $('#workspace_view').css('width',tmp_width);
            }
           
        });
        
        $('#btn_remove').click(function(){
            remove();
        });
        
        $('.draggable1').click(function(){
            selectedElement = $(this);

        });
        
        $('.draggable2').click(function(){
            selectedElement = $(this);
        });
        
        $('#btn_save_component').click(function(){
           setInfo(); 
        });
        
        $('#save').click(function(){
            save();
            $('#msg').html('<h4><i class="xi-check"></i> 저장되었습니다.</h4>');
            $('#msg').css('background','#119933');
            $('#msg').slideDown("fast").delay(800).fadeOut(400);
//            alert('saved!');
        })
         $('#export').click(function(){
            change();
//            save();
//            $.post('/workspace', {data : comCode});
            $('#msg').html('<h4><i class="xi-check"></i> 추출되었습니다.</h4>');
            $('#msg').css('background','#119933');
            $('#msg').slideDown("fast").delay(800).fadeOut(400);
//            alert('saved!');
        })
        $('#btn_align_left').click(function(){
           selectedElement.css('text-align','left');
        });
        
        $('#btn_align_center').click(function(){
           selectedElement.css('text-align','center');
        });
        
        $('#btn_align_right').click(function(){
           selectedElement.css('text-align','right');
        });
        
        $('#btn_align_justify').click(function(){
           selectedElement.css('text-align','justify');
        });
        $('#btn_bold').click(function(){

           if(selectedElement.css('font-weight') != 'bold'){
               selectedElement.css('font-weight','bold');
           }
           else{
               selectedElement.css('font-weight','normal');
           }
        });
        $('#btn_italic').click(function(){

           if(selectedElement.css('font-style') != 'italic'){
               selectedElement.css('font-style','italic');
           }
           else{
               selectedElement.css('font-style','normal');
           }
        });
        
        
        $('#btn_dropshadow_leftup').click(function(){
           selectedElement.css('box-shadow','-3px -3px 5px rgba(0, 0, 0, 0.7)');
        });
        $('#btn_dropshadow_up').click(function(){
           selectedElement.css('box-shadow','0px -3px 5px rgba(0, 0, 0, 0.7)');
        });
        $('#btn_dropshadow_rightup').click(function(){
           selectedElement.css('box-shadow','3px -3px 5px rgba(0, 0, 0, 0.7)');
        });
        $('#btn_dropshadow_left').click(function(){
           selectedElement.css('box-shadow','-3px 0px 5px rgba(0, 0, 0, 0.7)');
        });
        $('#btn_dropshadow_none').click(function(){
           selectedElement.css('box-shadow','0px 0px 5px rgba(0, 0, 0, 0.7)');
        });
        $('#btn_dropshadow_right').click(function(){
           selectedElement.css('box-shadow','3px 0px 5px rgba(0, 0, 0, 0.7)');
        });
        $('#btn_dropshadow_leftdown').click(function(){
           selectedElement.css('box-shadow','-3px 3px 5px rgba(0, 0, 0, 0.7)');
        });
        $('#btn_dropshadow_down').click(function(){
           selectedElement.css('box-shadow','0px 3px 5px rgba(0, 0, 0, 0.7)');
        });
        $('#btn_dropshadow_rightdown').click(function(){
           selectedElement.css('box-shadow','3px 3px 5px rgba(0, 0, 0, 0.7)');
        });
        
        $('#btn_float_left').click(function(){
            selectedElement.css('float','left');
        });
        $('#btn_float_none').click(function(){
            selectedElement.css('float','none');
        });
        $('#btn_float_right').click(function(){
            selectedElement.css('float','right');
        })
    });
      
    function hexc(colorval) {
        var color = '';
        var parts = colorval.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        delete(parts[0]);
        for (var i = 1; i <= 3; ++i) {
            parts[i] = parseInt(parts[i]).toString(16);
            if (parts[i].length == 1) parts[i] = '0' + parts[i];
        }
        color = '#' + parts.join('');
        return color;
    }

    function remove(){
      // console.log(child);
      // var childInfo=document.getElementById(child);
        child = selectedElement.attr('id');
        $('#' + child).remove();
      // childInfo=document.getElementById(child);
      // var parent=childInfo.parentNode;
      // console.log(parent);
      // parent.removeChild(childInfo);
    }
      
    function newCssClass(){
      //

        var styleStart,styleEnd;
        var code,midCode;
        var concatFront,concatEnd;
        code = document.head.innerHTML;
        console.log(code);
        styleStart=code.indexOf("<style>");

        concatFront=code.slice(0,styleStart+7);
        concatEnd=code.slice(styleStart+7,code.length);

        midCode="\n";
        midCode=midCode.concat("."+document.getElementById("newClassName").value+"{\n");
        midCode=midCode.concat(comSave());
        midCode=midCode.concat("\n}");
        console.log(midCode);

        code = "";
        code = code.concat(concatFront + midCode + concatEnd);
        console.log(code);
        document.head.innerHTML=code;
        console.log(document.head.innerHTML);
        document.getElementById("newClassName").value = "";
    }

      
    function comSave(){
        
      var selID,selClass;
      var codeStart,styleStart;
      var cssStart,cssEnd;
      var inlineCode,code;

      selID=selectedElement.attr('id');
      code=document.body.innerHTML;
      console.log(code);
      console.log(selID);
      // style 찾기

      codeStart=code.indexOf(selID);

      styleStart=code.indexOf("style",codeStart);
      console.log(styleStart);

      cssStart=code.indexOf("\"",styleStart);
      cssEnd=code.indexOf("\"",cssStart+1);
      console.log(cssStart);
      console.log(cssEnd);

      inlineCode=code.slice(cssStart+1,cssEnd);
      console.log(inlineCode);

       selectedElement.removeClass('compo');  // 컴포넌트 클래스 임시 제거
       selClass=selectedElement.attr('class');
       console.log(selClass);

       selectedElement.addClass('compo');  // 컴포넌트 클래스 재생성
       code=document.head.innerHTML;
       console.log(code);

       styleStart=code.indexOf("."+selClass);
       console.log(styleStart);
       // {  } 찾기!

       cssStart=code.indexOf("{",styleStart);
       cssEnd=code.indexOf("}",styleStart);
      console.log(cssStart);
      console.log(cssEnd);

      var cssCode;

      cssCode=code.slice(cssStart+1,cssEnd);
      console.log(cssCode);

      var checkpoint=0,colend;
      var inline,inlineVal,css,cssVal;
      var csspoint,bef;
      var concatFront,concatEnd;
      while(1)
      {
        colend=inlineCode.indexOf(":",checkpoint);
        if(colend == -1) break;     // exit
        inline=inlineCode.slice(checkpoint,colend);

        inline=inline.trim();
        console.log("inline "+ inline);    // inline name

        checkpoint=colend+1;
        colend=inlineCode.indexOf(";",checkpoint);
        inlineVal=inlineCode.slice(checkpoint,colend);

        checkpoint=colend+1;
        inlineVal=inlineVal.trim();
        console.log("inlineVal "+inlineVal); // inline Value

        csspoint=0;
        while(1)
        {
          cssend=cssCode.indexOf(":",csspoint);
          if(cssend == -1) break;     // exit
          css=cssCode.slice(csspoint,cssend);

          css=css.trim();
          console.log("css "+css);    // inline name


          csspoint=cssend+1;
          bef=csspoint;
          cssend=cssCode.indexOf(";",csspoint);
          cssVal=cssCode.slice(csspoint,cssend);

          csspoint=cssend+1;
          cssVal=cssVal.trim();
          console.log("cssVal "+cssVal); // inline Value

          if(inline == css)
          {
            concatFront=cssCode.slice(0,bef);
            console.log(concatFront);
            concatEnd=cssCode.slice(cssend,cssCode.length);
            console.log(concatEnd);
            var newCode = "";
            newCode=newCode.concat(concatFront);
            newCode=newCode.concat(inlineVal);
            newCode=newCode.concat(concatEnd);
            cssCode=newCode;
            console.log(cssCode);
            break;
          }
        }
      } // css 속에 inline 삽입 완료
      var test=code.slice(cssStart+1,cssEnd);
      // console.log(test+code.indexOf(test));
      // console.log(cssCode);
      code=code.replace(test,cssCode);
      console.log(code);
      document.head.innerHTML=code;
      console.log(document.head.innerHTML);
      //원래 코드로 변경
    }

      
      
    function setInfo(){
        console.log(selectedElement.attr('id'));

        $('#'+selectedElement.attr('id')).css('width', $('#input_width').val());
        $('#'+selectedElement.attr('id')).css('height', $('#input_height').val());
        $('#'+selectedElement.attr('id')).css('background', $('#input_bgColor').val());
        $('#'+selectedElement.attr('id')).css('color', $('#input_fontColor').val());
        
        $('#'+selectedElement.attr('id')).html($('#input_text').val()+temp);
        
        $('#'+selectedElement.attr('id')).css('font-size', $('#input_fontSize').val());
        $('#'+selectedElement.attr('id')).css('opacity', $('#input_opacity').val());
        $('#'+selectedElement.attr('id')).css('display', $('#input_display').val());
        $('#'+selectedElement.attr('id')).css('padding', $('#input_padding').val());
        $('#'+selectedElement.attr('id')).css('margin', $('#input_margin').val());
        $('#'+selectedElement.attr('id')).css('float', $('#input_float').val());
        

    }
      
    
    function change(){
        var code = document.documentElement.innerHTML;
        var start,end,removeCode;
        start = code.indexOf("\<head\>");
        end = code.indexOf("\</head\>");
        // alert(start+" "+end);


        var headCode = code.slice(start,end+8);
        while(1)  // script remove
        {
          start = headCode.search("<script");
          end = headCode.search("<\/script>");
          console.log(start+ " " + end);
          removeCode=headCode.slice(start,end+9);
          headCode = headCode.replace(removeCode,"");
          if(start == -1 || end == -1) break;
        }
        // console.log(headCode);
        // head

        // workspace_view div
        var bodyCode = document.getElementById("workspace_view").innerHTML;
        //      bodyCode=bodyCode.replace(/ondragover="return over\(event\)" ondrop="return drop\(event\)" ondragenter="return enter\(event\)" ondragleave="return Leave\(event\)" style=""/gi,"");
        bodyCode=bodyCode.replace(/draggable="true"/gi,"");
        bodyCode=bodyCode.replace(/ondragstart="return start\(event\)"/gi,"");
        bodyCode=bodyCode.replace(/ondragend="return end\(event\)"/gi,"");
        bodyCode=bodyCode.replace(/ondragleave="return Leave\(event\)"/gi,"");
        bodyCode=bodyCode.replace(/draggable="true"/gi,"");
        bodyCode.trim();
        console.log(bodyCode);
        // body

        comCode = "<html>\n";
        comCode = comCode.concat(headCode);
        comCode = comCode.concat("\n<body>\n");
        comCode = comCode.concat(bodyCode);
        comCode = comCode.concat("\n</body>\n");
        comCode = comCode.concat("</html>");
        console.log(comCode);
        $.post('/workspace',{data : comCode, type: 'export'});
    }
      
      
    function save(){
        var bodyCode = document.getElementById("workspace_view").innerHTML;
        $.post('/workspace',{data : bodyCode, type: 'save'});
        console.log(bodyCode);
//        window.location.href="data:text/plain;charset=UTF-8,"+comCode;

    }
      
      
    function drop(e){

      event.target.style.border = "";
      // e.preventDefault();
      var iddraggable = e.dataTransfer.getData("Data");
      // console.log(e.dataTransfer.getData("Data.parentNode"));

      // console.log(iddraggable);
      // console.log(nodeCopy);
      console.log(flag);
      // console.log(e.toElement.previousElementSibling);
      // console.log(e.target.previousElementSibling);
      console.log(event.target);
        
      if(flag==1){
        var nodeCopy = document.getElementById(iddraggable).cloneNode(true);
        // nodeCopy.className=iddraggable+" compo";


        // $(nodeCopy).removeClass(iddraggable);
        // $(nodeCopy).removeClass("compo");
        // $(nodeCopy).addClass(iddraggable);
        // $(nodeCopy).addClass("compo");
        for(;;cnt++)
        {
            var imID='NewID'+cnt;

                if(document.getElementById(imID) == null)
                {
                  console.log(imID);
                    nodeCopy.id="NewID"+cnt;
                    console.log(nodeCopy.id);
                    cnt=cnt+1;
                    e.target.appendChild(nodeCopy);
                    break;
          }
        }
      }
      else{
        e.target.appendChild(document.getElementById(iddraggable));
      }
    }


    function start(e) // 드래그 시작
    {
       e.dataTransfer.effectAllowed="copy";

       e.dataTransfer.setData("Data", e.target.getAttribute('id'));
       var chk =  e.dataTransfer.getData("Data");
       var chkp = document.getElementById(chk);
      //  console.log(chkp.parentNode);
       if(chkp.parentNode.id=="component_view")
       {
         flag=1;
       }
       else {
         flag=0;
       }

      //  console.log(e.target.getAttribute('id'));
       e.dataTransfer.setDragImage(e.target,10,10); // 드래그 위치

      return true;
    }
      
    // 드래그 끝
    function end(e) {
      e.dataTransfer.clearData("Data");
  //    e.target.style.backgroundColor = "red";
      return true;
    }
      
    //컴포넌트가 타겟에 올라왔을 때 못올라오게할시 true
    function over(e) {
//      e.target.style.backgroundColor = "#1E8BC3";
      var iddraggable = e.dataTransfer.getData("Data");
      var id = e.target.getAttribute('id');
      var ifo = e.target;
      // console.log(ifo.parentNode);
      if(id == 'component_view' || ifo.parentNode.id == 'component_view') return true;
      return false;
    }

    function Leave(e) {
        event.target.style.border = "";
        event.target.style.boxShadow = "";
    }
      
    //컴포넌트가 타겟에 올라왔을 때 못올라오게할시 true
    function enter(e) {
      e.preventDefault();
//      e.target.style.backgroundColor = "#1E8BC3";
      event.target.style.border = "3px solid #6799FF";
//      event.target.style.boxShadow = "0px 0px 20px #6799FF";
      return true;
    }
      
    </script>
</head>
<body>
      <div id="main_nav">
            <h4 class="logo"><a href="/project">Open Design Project</a></h4>
            <ul style="float:left;">
                <li id="save" data-toggle="tooltip" title="Cmd + S"><a href="#"><i class="xi-diskette xi-x">&nbsp;</i></br></a></li>
                <li id="export"><a href="#"><i class="xi-external-share xi-x">&nbsp;</i></br></a></li>
                
                <li id="btn_share"><a href="#"><i class="xi-share-alt xi-x">&nbsp;</i></br></a></li>
                <li id="btn_remove" data-toggle="tooltip" title="Cmd + D"><a href="#"><i class="xi-trash xi-x">&nbsp;</i></br></a></li>
                
            </ul>
            <ul style="float:right;">
                <li id="btn_sidePanel" data-toggle="tooltip" title="Cmd + K"><a href="#"><i class="xi-layout-side-right xi-x">&nbsp;</i></br></a></li>
            </ul>
            <div style="clear:both;"></div>
<!--            <h5 id="user_msg"> 님 접속을 환영합니다.</h5>-->

        </div>
        
        <div style="padding-top:100px;">
        </div>


        <div id="workspace_view"
          ondragover="return over(event)"
          ondrop="return drop(event)"
          ondragenter="return enter(event)"
          ondragleave="return Leave(event)" style="float:left; width:100%">
            
            <%= val %>
            
        </div>
        <div class="clear"></div>
<!--
          <div id="mainframe" ondragover="return over(event)"
          ondrop="return drop(event)"
          ondragenter="return enter(event)"
          ondragleave="return Leave(event)">

        
            <iframe id="frame" style="width:100%; height:1000px; border: 0px;" src="./workspaces/index.html">
            </iframe>
          


        </div>
-->
        <div id="footer">
          <h3>Open Design Project</h3>
        </div>

        <!-- hide Views-->
<!--

        <div id="add_tags_view">
            
        </div>
-->
        <div id="optionPanel">
            <div id="tab">
                <ul style="padding-left: 0px; padding-top:15px;">
                    <li id="btn_add_compo">
                        <a href="#">
                            <div class="left" style="padding-left:20px;">
                                <i class="xi-cube xi-x" >&nbsp;</i><h4 style="display:inline">components</h4></br>
                            </div>
                            <div class="right" style="padding-right:10px;">
                                <i class="xi-right-circle xi-x" >&nbsp;</i>
                            </div>
                            <div class=clear></div>
                        </a>
                    </li>
                    <li>
                        <div id="component_view"
                            ondragover="return over(event)"
                            ondrop="return drop(event)"
                            ondragenter="return enter(event)"
                            ondragleave="return Leave(event)">

                            <p><i class="xi-angle-right">&nbsp;</i> workspace</p>


                            <div style="clear:both"></div>
                        </div>
                        
                        
                    </li>
                    <li id="btn_add_tags">
                        <a href="#">
                            <div class="left" style="padding-left:20px;">
                                <i class="xi-code xi-x" >&nbsp;</i><h4 style="display:inline">tags</h4></br>
                            </div>
                            <div class="right" style="padding-right:10px;">
                                <i class="xi-right-circle xi-x" >&nbsp;</i>
                            </div>
                            <div class=clear></div>
                        </a>
                    </li>

                    <li>
                        <div id="tags">
                            <div id="optionClassName">
                                <h4>Component Name</h4>
                            </div>
                            <div id="optionContent" style="text-align:center">
                               
                               <a href="#" class="element" id="add_textArea"><p><i class="xi-caps"></i></p></a>
                               <a href="#" class="element"><p><i class="xi-layout-full"></i></p></a>
                               <a href="#" class="element"><p><i class="xi-list-ul"></i></p></a>
                               <a href="#" class="element"><p><i class="xi-list-ol"></i></p></a>
                               <a href="#" class="element"><p><i class="xi-external-link"></i></p></a>
                               <a href="#" class="element"><p><i class="xi-check-box"></i></p></a>
                               <a href="#" class="element" id="add_button"><p style="font-size: 18px">Button</p></a>
                               <a href="#" class="element" id="add_input"><p style="font-size: 18px">Input</p></a>
                               <a href="#" class="element"><p><i class="xi-layout-full"></i></p></a>
                               <a href="#" class="element"><p><i class="xi-caps"></i></p></a>
                               <a href="#" class="element"><p><i class="xi-caps"></i></p></a>
                               
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>

                    <li id="btn_option">
                        <a href="#">
                            <div class="left" style="padding-left:20px;">
                                <i class="xi-cog xi-x" >&nbsp;</i><h4 style="display:inline">option</h4></br>
                            </div>
                            <div class="right" style="padding-right:10px;">
                                <i class="xi-right-circle xi-x" >&nbsp;</i>
                            </div>
                            <div class=clear></div>
                        </a>
                    </li>
                    <li>
                        <div id="option">
                            <div id="optionClassName">
                                <h4>Component Name</h4>
                            </div>
                            <div id="optionContent">
                                <h5>Text Setting</h5>
                                <div id="align_group">
                                    <a href="#" class="small_element" id="btn_align_left"><i class="xi-align-left"></i></a>
                                    <a href="#" class="small_element" id="btn_align_center"><i class="xi-align-center"></i></a>
                                    <a href="#" class="small_element" id="btn_align_right"><i class="xi-align-right"></i></a>
                                    <a href="#" class="small_element" id="btn_align_justify"><i class="xi-align-justify"></i></a>
                                    <a href="#" class="small_element" id="btn_bold"><i class="xi-bold"></i></a>
                                    <a href="#" class="small_element" id="btn_italic"><i class="xi-italic"></i></a>
                                </div>
                                
                                <h5>Shadow</h5>
                                <div id="shadow_group">
                                    <div> 
                                        <a href="#" id="btn_dropshadow_leftup" class="small_element">↖</a>
                                        <a href="#" id="btn_dropshadow_up" class="small_element">↑</a>
                                        <a href="#" id="btn_dropshadow_rightup" class="small_element">↗</a>                                         
                                    </div>
                                    <div> 
                                        <a href="#" id="btn_dropshadow_left" class="small_element">←</a>
                                        <a href="#" id="btn_dropshadow_none" class="small_element">·</a>
                                        <a href="#" id="btn_dropshadow_right" class="small_element">→</a>                                         
                                    </div>
                                    <div> 
                                        <a href="#" id="btn_dropshadow_leftdown" class="small_element">↙</a>
                                        <a href="#" id="btn_dropshadow_down" class="small_element">↓</a>
                                        <a href="#" id="btn_dropshadow_rightdown" class="small_element">↘</a>
                                    </div>
                                </div>
                                
                                <h5>Float</h5>
                                <div id="float_group">
                                    <a href="#" id="btn_float_left" class="small_element"><i class="xi-angle-double-left"></i></a>
                                    <a href="#" id="btn_float_none" class="small_element"><i class="xi-minus"></i></a>
                                    <a href="#" id="btn_float_right" class="small_element"><i class="xi-angle-double-right"></i></a>
                                    
                                </div>
                            
                                <h5>Width</h5>
                                <input id="input_width" name="setWidth" size="3" value data-unit="px" data-reactid=".0.3:$right-panel.4.$section-canvas.2.0.1.0.1"></input>
                                <h5>Height</h5>
                                <input id="input_height"name="setHeight" size="3"></input>

                                <h5>Background-color</h5>
                                <input id="input_bgColor"name="setBgColor" size="3"></input>
                                
                                <h5>Font-color</h5>
                                <input id="input_fontColor"name="setFontColor" size="3"></input>

                                <h5>Text</h5>
                                <input id="input_text" name="setText" size="3"></input>

                                <h5>Font-size</h5>
                                <input id="input_fontSize" name="setFontSize" size="3"></input>

                                <h5>Opacity</h5>
                                <input id="input_opacity" name="setOpacity" size="3"></input>

                                <h5>Display</h5>
                                <input id="input_display" name="setDisplay" size="3"></input>

                                <h5>Padding</h5>
                                <input id="input_padding" name="setPadding" size="3"></input>

                                <h5>Margin</h5>
                                <input id="input_margin" name="setMargin" size="3"></input>

                                

                                <h1>s</h1>
                                <a href="#" id="btn_save_component">Change</a>
                            </div>
                        </div>
                    </li>

                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            
        </div>
        <div id="msg">
            <h4>test text</h4>
        </div>
</body>

</html>